*.pdb
*.cache
*.cachefile
*.dll
*.xap
*.xgs
*.xsb
*.xwb
*.user

*.xnb

.vs/

Build/
Packages/

MindEngine/Content/bin/
MindEngine/Content/obj/
MindEngine/Content/Audio/
MindEngine/Content/Cursor/
MindEngine/Content/Fonts/
MindEngine/Content/Texture/

MindEngine/obj/
MindEngine/bin/

MindEngine.Audio/obj/ 
MindEngine.Audio/bin/ 

MindEngine.Core/obj/ 
MindEngine.Core/bin/ 

MindEngine.Graphics/obj/ 
MindEngine.Graphics/bin/ 

MindEngine.Input/obj/ 
MindEngine.Input/bin/ 

MindEngine.IO/obj/ 
MindEngine.IO/bin/ 

MindEngine.Math/obj/ 
MindEngine.Math/bin/ 

MindEngine.Parser/obj/ 
MindEngine.Parser/bin/ 

MindEngine.Processor/Content/obj/
MindEngine.Processor/obj/
MindEngine.Processor/bin/

MindEngine.Test/bin/
MindEngine.Test/obj/